@font-face {
    font-family: 'Aeonik';
    src: url('/assets/fonts/Aeonik-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Aeonik';
    src: url('/assets/fonts/Aeonik-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Aeonik';
    src: url('/assets/fonts/Aeonik-Bold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Aeonik';
    src: url('/assets/fonts/Aeonik-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Aeonik';
    src: url('/assets/fonts/Aeonik-Thin.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}